@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  /* border: 2px solid green; */
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

body > * {
  flex: 1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section-1 {
  background-color: #1f2937;
}

.section-2 {
  background-color: white;
}

.section-3 {
  background-color: #e5e7eb;
}

.section-4 {
  background-color: white;
}

footer {
  background-color: #1f2937;
}

/* font sizes, styles and colors */
.header-logo {
  font-size: 24px;
  font-weight: 800;
  color: #f9faf8;
}

.links,
.hero-subtitle,
.call-to-action-box p,
.footer-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-heading {
  font-size: 48px;
  color: #f9faf8;
}

.button,
.call-to-action-box {
  background-color: #3882f6;
}

.button {
  color: white;
  font-size: 18px;
  font-weight: 800;
  font-family: inherit;
  padding: 5px 32px;
  border: none;
  border-radius: 8px;
}

.button.inverted {
  border: solid;
  border-color: white;
  border-width: 3px;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.illustration-and-text p {
  font-size: 18px;
  color: #1f2937;
}

.testimonial {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.testimonial-author,
.call-to-action-box h3 {
  font-size: larger;
  font-weight: bold;
}

.testimonial-author {
  color: #1f2937;
}

.call-to-action-box h3 {
  color: white;
}

/* layout */

/* section 1 */

.top-header {
  /* border: solid yellow; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 160px;
}

.top-header-right ul {
  display: flex;
  gap: 20px;
}

.section-1-content {
  /* border: solid yellow; */
  display: flex;
  margin: 100px 160px 150px 160px;
  gap: 20px;
}

.section-1-content > * {
  /* border: solid green; */
  flex: 1;
}

.section-1-content div > * {
  margin: 5px;
}

.section-1-picture {
  background-color: slategray;
}

/* section 2 */

.section-2 h2 {
  /* border: solid ; */
  text-align: center;
  margin: 40px 0px;
}

.grouped-illustration-and-text {
  /* border: 2px solid red; */

  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 80px;
}

.illustration-and-text {
  /* border: 2px solid blue; */

  display: flex;
  flex-direction: column;
  width: 170px;
  text-align: center;
}

.illustration {
  border: solid;
  border-color: #3882f6;
  border-radius: 12px;

  width: 170px;
  height: 170px;
}

/* section 3 */

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 250px;
}

.testimonial-author {
  align-self: flex-end;
  margin-right: 20px;
}

/* section 4 */

.section-4 {
  display: flex;
  padding: 80px 160px;
  justify-content: center;
}

.call-to-action-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  flex: auto;
  border-radius: 8px;
}

/* footer */

footer {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
}
